name: build wheels

on:
  push:
    tags:
      - "v*"

jobs:
  wheels:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build manylinux wheels
        uses: PyO3/maturin-action@v1
        with:
          manylinux: "2014"
          args: --release --strip
          working-directory: grammar

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: target/wheels/*.whl
